title: Pradeep Dasigi's Homepage
author: pdasigi
email: pradeepd@allenai.org
baseurl: ""

remote_theme: thelehhman/plainwhite-jekyll
sass:
        sass_dir: _sass
plainwhite:
        name: Pradeep Dasigi
        email: pradeepd@allenai.org
        tagline: Research Scientist at AI2
        date_format: "%b %-d, %Y"
        dark_mode: true

        social_links:
                twitter: pdasigi
                github: pdasigi
                linkedIn: in/pradeepdasigi
                gScholar: Bpd76vcAAAAJ
                sScholar: 2697425

plugins:
        - jekyll-seo-tag
