title: Pradeep Dasigi's Homepage
author: pdasigi
email: pradeepd@allenai.org

remote_theme: thelehhman/plainwhite-jekyll
sass:
        sass_dir: _sass
plainwhite:
        name: Pradeep Dasigi
        email: pradeepd@allenai.org
        tagline: Research Scientist at AI2
        date_format: "%b %-d, %Y"
        dark_mode: true

        social_links:
                twitter: pdasigi
                github: pdasigi
                linkedIn: in/pradeepdasigi
                gScholar: Bpd76vcAAAAJ
                sScholar: 2697425

        content: >
          <p>I am a research scientist on the <a href="https://allennlp.org/">AllenNLP</a> team
          at <a href="https://allenai.org/">Ai2</a>.</p>
          
          <p>I have been actively involved in developing <a href="https://allenai.org/olmo">OLMo</a>.
          I currently work on post-training language models, and am generally passionate about adapting language models for general use with minimal human effort.
          I have previously worked on information-seeking question answering, reading comprehension, executable semantic parsing, and efficiently collecting datasets for all
          these tasks. Checkout
          <a href="https://www.semanticscholar.org/author/Pradeep-Dasigi/2697425?sort=pub-date">my papers</a> for an up-to-date overview of my
          research.</p>
          
          <p>I used to be a frequent host on the <a href="https://soundcloud.com/nlp-highlights">NLP Highlights</a> podcast along with other members
          of the AllenNLP team.</p>

plugins:
        - jekyll-seo-tag
