<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
	<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
	<main class="container">
		<section class="about">
			<img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}" title="Hello!">
			<ul class="social">
                {%- if site.plainwhite.email -%}
				<a href="mailto:{{ site.plainwhite.email }}"><li><i class="fa fa-envelope"></i></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.linkedIn -%}
				<a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.twitter -%}
                		<a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
                {%- endif -%}
			</ul>
			<ul class="social">
                {%- if site.plainwhite.social_links.github -%}
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.gScholar -%}
				<a href="https://scholar.google.com/citations?user={{site.plainwhite.social_links.gScholar }}"><li><i class="ai ai-google-scholar ai-3x"></i></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.sScholar -%}
			<a href="https://www.semanticscholar.org/author/{{site.plainwhite.social_links.sScholar }}"><li><i class="ai ai-semantic-scholar ai-3x"></i></li></a>
                {%- endif -%}

			</ul>
		{%- if site.plainwhite.dark_mode -%}
			<div class="about-footer {{condensed_class}}">
			<p>Dark Mode
			 <i class="icon-moon"></i>
			  <label class="switch">
			   <input type="checkbox" class="dark-mode-toggle">
			   <span class="slider round" onclick="toggleDarkMode()"></span>
			  </label>
			</p>
			</div>
		{%- endif -%}
		</section>
		<section class="content">
                {%- if site.plainwhite.content -%}
			<h1>{{ site.plainwhite.name }}</h1>
			{{ site.plainwhite.content }}
                {%- endif -%}
		</section>
	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>
</html>
